* {
    padding: 0;
    margin: 0;
}

main {
    scroll-behavior: smooth;
  }

body {
    background-color: burlywood;
}

.nav-bar {
    display: grid;
    grid-template-areas: "logo ul";
}

.nav-bar a {
    text-decoration: none;
    color: white;
}

#logo {
    height: 60px;
    width: 60px;
    margin-right: auto;
    margin-left: 20px;
    object-fit: contain;
}

#logo-container {
    margin-right: auto;
}

.nav-bar li {
    list-style-type: none;
}

.nav-bar ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
    gap: 30px;
}

.nav-bar #active {
    color: #fb4108;
}

.nav-bar {
    background-color: #83422e;
    padding-top: 20px;
    padding-bottom: 20px;
}

#home-section {
    display: flex;
    flex-direction: column;
    width: 600px;
}

#home-section li {
    margin-bottom: 20px;
    gap:5px
}

#form-grid {
    display: grid;
    grid-template-areas: 
    "name-label my-name name-span"
    "email-label my-email email-error"
    "checkbox-label checkbox-input checkbox-input"
    "submit-button submit-button submit-button";
    margin-left: 20px;
    grid-template-columns: 30px 130px auto;
    align-items: end;
    justify-content: center;
    gap: 20px
}

#name-label {
    grid-area: name-label;
    margin-top: 20px;
}

#name-input {
    grid-area: my-name;
    margin-top: 20px;
}

#name-span {
    grid-area: name-span;
    margin-top: 20px;
}

#email-label {
    grid-area: email-label;
    margin-top: 20px;
}

#email-input {
    grid-area: my-email;
    margin-top: 20px;
}   

#email-error {
    grid-area: email-error;
}

#checkbox-label {
    grid-area: checkbox-label;
    margin-top: 20px;
}

#checkbox-input {   
    grid-area: checkbox-input; 
    margin-top: 20px;
    height: 20px;
    width: 20px;
    margin-left: 20px;
}

#submit-button {
    grid-area: submit-button;
    width: 100px;
    margin-top: 20px;
    border-radius: 50px;
    cursor: not-allowed;
}

#name-error, #email-error {
    color: red;
}

section {
    display: grid;
    grid-template-columns: repeat(1, 330px);
    justify-content: center;
    gap: 20px;
}

article {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    justify-self: center;
    background-color: peachpuff;
    border: 1px solid black;
}

#back-to-top-image {
    height: 50px;
    width: 50px;
}

#back-to-top-button {
    position: sticky;
    top: 100px;
}

article img {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.post-user {
    display: flex;
    align-items: center;
    gap:10px
}

.post-user img {
    height: 30px;
    width: 30px;
}

.clickable-user:hover {
    cursor: pointer;
    text-decoration: underline;
}

.clickable-user {
    position: relative;
}

.user-profile {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    width: min-content;
    height: min-content;
    padding: 10px;
    border-radius: 10px;
    top: 30px;
    left: 0px;
    z-index: 1;
}

li .user-profile {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    width: min-content;
    height: min-content;
    padding: 10px;
    border-radius: 10px;
    top: 15px;
    left: 0px;
    z-index: 1;
}

.post-user a{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

li a {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
}

li {
    display: flex;
}

.comment {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.commentList {
    border: 1px solid black;
}

h1 {
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-areas: "nav-bar"
    "main"
    "footer";
}

main {
    display: flex;
    justify-content: center;
    overflow-y: auto;
  }

#post-page {
    height: 100vh;

}

footer {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

@media (min-width: 520px) {
    section {
        grid-template-columns: repeat(1, 500px);
    }
}